In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [3]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [4]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [5]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [6]:
df['a'].unique()

array([1, 2], dtype=int64)

In [7]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

In [8]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [9]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool